beautifulsoup4
colour
descartes
ete3
fastapi
geopandas
matplotlib
pandas
pyyaml
python-multipart
requests
shapely
tabulate
unidecode
uvicorn
wget
pre-commit
pytest
pytest-cov
pytest-asyncio
pytest-mock
